body{
    font-family: cursive;
    font-size:100%;
    background-color: #FCF7F8;
    margin: 10px;
    border-color: blueviolet;
    border-style: solid;
  }
  
  header { font-family: cursive;
    background-color:grey;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background: white url(https://codespace.ams3.digitaloceanspaces.com/wp/2017/06/couch-people-1080x675.jpg)
  }
    
  #headshot{
    height: 200px;
    border: 5px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 200px;
   
  }
  
  footer { font-family: cursive;
    background-color: grey;
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
  }

  #sidebar { font-family: cursive;
    background-color:grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 80%;
    
  }

  .icons{
    width:3rem;
    height: auto;
    border-radius: 60px;
    margin: 1rem;
  } 

  stylesheet.css

  .section{

    background-color: rgb(0, 0, 0);
    color: whitesmoke;

    padding: 10px;

    margin-bottom: 40px;

    border-radius: 10;
  }
  #content{
    width: 80;
    padding: 1rem;
    margin: 1rem;
  }
  .main{ display:flex;
    display:row;
  }
  .nav-menu{
    display: flex;
  }
  #backgroundPicture{
    width:100% ;
    background-size: 100%;

  }
  

  /*code for mobile devices smaller than 600px*/
body { background-color: purple; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body { background-color: violet; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body { background-color: yellow; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body { background-color: yellowgreen; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: white; }
}

